.header {
  display: flex;
  justify-content: space-around;
  background: #333;
  color: whitesmoke;
  border-bottom: 3px solid black;
  box-shadow: 0 0 1em hsla(0, 0, 0, .8);

  form {
    display: flex;
    align-items: center;
    
    input {
      margin-left: 1em;
      height: fit-content;
    }
  }
}